# Addresses
host_domain: "test.jupyter.stfc.ac.uk"
ip_address: "130.246.213.116"

# IRIS IAM
# comment out if using usernames below
iris_iam: false 

client_id: #client ID
client_secret: # client secret 

admin_groups:
  - # group1
  - # group2

allowed_groups:
  - # group3
  - # group4

# Admins and user accounts
admin_names:
  - # name1
  - # name2
user_groups:
  # username: number of users to create
  # foo: 5
  # bar: 8

staging_cert: true

# ip address for nfs server
nfs_ip: 

# Images
profiles:
  - profile1:
    display_name: # Environment name displayed to the user
    description: # Description of the environment to display to the user
    default: false
    image: # image to use. eg:consideratio/singleuser-gpu:v0.3.0
    cpu_limit: 6
    cpu_guarantee: 0.05
    mem_limit: 25G
    mem_guarantee: 25G
    # GPU specific remove if GPU not needed
    use_gpus: false
    GPU_info:
      number_of_gpus: "1"
      key: nvidia.com/gpu
      operator: Equal
      effect: NoSchedule
    # any additional scripts - e.g. clone specific repo
    commands:
        - # git clone repo 1
        - # git clone repo 2
